<a href="https://colab.research.google.com/github/ChuquEmeka/Data_Cleaning_dropping_null_values_in_rows/blob/main/Data_Cleaning_(dropping_null_values_in_rows).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
commerce=pd.read_csv("Ecommerce_Customers.csv")

In [ ]:
commerce.isnull().sum()

Email                     0
Address                   0
Avatar                  500
Avg. Session Length     500
Time on App             500
Time on Website         500
Length of Membership    500
Yearly Amount Spent     546
dtype: int64

In [ ]:
commerce.dropna(axis=0,inplace=True)

In [ ]:
commerce1=commerce.drop(["Email", "Address", "Avatar"], axis = 1)

In [ ]:
commerce1

,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
1,34.497268,12.655651,39.577668,4.082621,587.951054
3,31.926272,11.109461,37.268959,2.664034,392.204933
5,33.000915,11.330278,37.110597,4.104543,487.547505
7,34.305557,13.717514,36.721283,3.120179,581.852344
9,33.330673,12.795189,37.536653,4.446308,599.406092
...,...,...,...,...,...
991,33.237660,13.566160,36.417985,3.746573,573.847438
993,34.702529,11.695736,37.190268,3.576526,529.049004
995,32.646777,11.499409,38.332576,4.958264,551.620146
997,33.322501,12.391423,36.840086,2.336485,456.469510
999,33.715981,12.418808,35.771016,2.735160,497.778642

In [ ]:
commerce1.to_csv("commerce.csv")